pipeline/Pi300MetallurgyStreamsMSAPIVOTpi_copy1.json
{
	"name": "Pi300MetallurgyStreamsMSAPIVOTpi_copy1",
	"properties": {
		"description": "Load table [FQML\\svc_pan_bi_EXT].[Pi.300_Metallurgy_Streams_MSA_PIVOT]",
		"activities": [
			{
				"name": "Lookup QuerysExecutionDatesLoad",
				"description": "lookup to be able to dynamically generate the queries filtered by periods to generate the loads in the data lake",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If Condition First Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETLExecution].[GetQueryExecutionDates]",
						"storedProcedureParameters": {
							"Instance": {
								"type": "Int32",
								"value": {
									"value": "@variables('Instance')",
									"type": "Expression"
								}
							},
							"Module": {
								"type": "String",
								"value": {
									"value": "@variables('Module')",
									"type": "Expression"
								}
							},
							"ParameterName": {
								"type": "String",
								"value": {
									"value": "@variables('ParameterName')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetQueryExecutionDatesds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach QuerysExecutionDatesLoad",
				"description": "Process that loads in DL and generates the prediction in the webservices",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup QuerysExecutionDatesLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup QuerysExecutionDatesLoad').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data Pi300MetallurgyStreamsMSAPIVOT",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().querystring",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "TimeStamp",
												"type": "DateTime"
											},
											"sink": {
												"name": "TimeStamp",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids 1CU-CLSCV-T",
												"type": "Double"
											},
											"sink": {
												"name": "Solids1CUCLSCVT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids T2-RC-3",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsT2RC3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids CU-CLT",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsCUCLT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids T2-RC-1",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsT2RC1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids T1-RC-2",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsT1RC2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids T1-RF",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsT1RF",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids T2-RF",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsT2RF",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids T1-RC-3",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsT1RC3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids CU-FC",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsCUFC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids 1CU-CLSCV-C",
												"type": "Double"
											},
											"sink": {
												"name": "Solids1CUCLSCVC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids T2-RC-2",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsT2RC2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids 2CU-CLT",
												"type": "Double"
											},
											"sink": {
												"name": "Solids2CUCLT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids 2CU-CLSCV-C",
												"type": "Double"
											},
											"sink": {
												"name": "Solids2CUCLSCVC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids T1-RC-1",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsT1RC1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids 2CU-CLC",
												"type": "Double"
											},
											"sink": {
												"name": "Solids2CUCLC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids 1CU-CLC",
												"type": "Double"
											},
											"sink": {
												"name": "Solids1CUCLC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids CU-CLC",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsCUCLC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream 1CU-CLSCV-T",
												"type": "Double"
											},
											"sink": {
												"name": "CuStream1CUCLSCVT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream T2-RC-3",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamT2RC3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream CU-CLT",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamCUCLT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream T2-RC-1",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamT2RC1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream T1-RC-2",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamT1RC2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream T1-RF",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamT1RF",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream T2-RF",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamT2RF",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream T1-RC-3",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamT1RC3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream CU-FC",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamCUFC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream 1CU-CLSCV-C",
												"type": "Double"
											},
											"sink": {
												"name": "CuStream1CUCLSCVC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream T2-RC-2",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamT2RC2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream 2CU-CLT",
												"type": "Double"
											},
											"sink": {
												"name": "CuStream2CUCLT",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream 2CU-CLSCV-C",
												"type": "Double"
											},
											"sink": {
												"name": "CuStream2CUCLSCVC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream T1-RC-1",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamT1RC1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream 2CU-CLC",
												"type": "Double"
											},
											"sink": {
												"name": "CuStream2CUCLC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream 1CU-CLC",
												"type": "Double"
											},
											"sink": {
												"name": "CuStream1CUCLC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu_.Stream CU-CLC",
												"type": "Double"
											},
											"sink": {
												"name": "CuStreamCUCLC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu T2-RT (Online)",
												"type": "Single"
											},
											"sink": {
												"name": "CuT2RTOnline",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu RT-3",
												"type": "Double"
											},
											"sink": {
												"name": "CuRT3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids RT-3",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsRT3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cu RT-4",
												"type": "Double"
											},
											"sink": {
												"name": "CuRT4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Solids RT-4",
												"type": "Double"
											},
											"sink": {
												"name": "SolidsRT4",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Pi300MetallurgyStreamsMSAPIVOTsqlserverds",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Pi300MetallurgyStreamsMSAPIVOTdatalakeds",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().filename",
											"type": "Expression"
										},
										"mainpath": {
											"value": "@variables('mainpath')",
											"type": "Expression"
										},
										"tablepath": {
											"value": "@item().pathformat",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure Insert Control File Executions",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Prediction execution validation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETLExecution].[InsertControlFileExecutions]",
								"storedProcedureParameters": {
									"CreatedDate": {
										"value": null,
										"type": "DateTime"
									},
									"EndDate": {
										"value": {
											"value": "@item().enddate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"FileDescription": {
										"value": "Load for the Pi300MetallurgyStreamsMSAPIVOT Datalake on ingest",
										"type": "String"
									},
									"Instance": {
										"value": {
											"value": "@variables('Instance')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Module": {
										"value": {
											"value": "@variables('Module')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ParameterName": {
										"value": {
											"value": "@variables('ParameterName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PathString": {
										"value": {
											"value": "@concat('/ingestion / '  , item().pathformat  , '/' ,  item().filename)",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceQueryString": {
										"value": {
											"value": "@item().querystring",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartDate": {
										"value": {
											"value": "@item().startdate",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "fqmldatasandatasensordatalakedbls",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Prediction execution validation",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "setqueryazurefuntion",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().sendrequest,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "mlrequests",
										"type": "AzureFunctionActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"functionName": "mlrequestfn",
											"method": "POST",
											"body": {
												"value": "@variables('strjsonvaluefn')",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "fqmlmlrequestfn",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "setqueryazurefuntion",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data Pi300MetallurgyStreamsMSAPIVOT",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "strjsonvaluefn",
								"value": {
									"value": "@replace(replace(replace(replace( replace( replace( variables('strjsonfn') , 'prModule',  variables('Module')) , 'prParameterName' , variables('ParameterName')) , 'prInstance',variables('Instance')) , 'prmainpath',variables('mainpath')) , 'prtablepath' , item().pathformat ),'prfilename' , item().filename)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If Condition First Load",
				"description": "Validates if it is the first execution to be able to pass the correct dates in the parameters of the incremental load",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Firts Get EndDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals( activity('Lookup Firts Get EndDate').output.firstRow.enddate ,'19000101')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Lookup MAX Date Source",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT CONVERT ( DATETIME ,CONVERT(VARCHAR(16),  FORMAT (MAX([TimeStamp]) \t,' , variables('spchar1') , 'yyyy-MM-dd hh:mm'  , variables('spchar1') ,   '))) AS enddate FROM  [FQML\\svc_pan_bi_EXT].[Pi.300_Metallurgy_Streams_MSA_PIVOT] WHERE [TimeStamp] >='   , variables('spchar1') ,  activity('Lookup Firts Get EndDate').output.firstRow.enddate  , variables('spchar1') )",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Pi300MetallurgyStreamsMSAPIVOTsqlserverds",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Stored procedure Set EndDate",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup MAX Date Source",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETLExecution].[SetQueryDates]",
								"storedProcedureParameters": {
									"EndDate": {
										"value": {
											"value": "@activity('Lookup MAX Date Source').output.firstRow.enddate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Instance": {
										"value": {
											"value": "@variables('Instance')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Module": {
										"value": {
											"value": "@variables('Module')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ParameterName": {
										"value": {
											"value": "@variables('ParameterName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartDate": {
										"value": null,
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "fqmldatasandatasensordatalakedbls",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Lookup Get MAX MIN Date Source",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT   CONVERT ( DATETIME ,CONVERT(VARCHAR(16),\n\t\t\t\t\t\t\tFORMAT (MIN([TimeStamp])\n\t\t\t\t\t\t\t, 'yyyy-MM-dd hh:mm'))) AS startdate\n       ,CONVERT ( DATETIME ,CONVERT(VARCHAR(16),\n\t\t\t\t\t\t\tFORMAT (MAX([TimeStamp])\n\t\t\t\t\t\t\t, 'yyyy-MM-dd hh:mm'))) AS enddate\nFROM  [FQML\\svc_pan_bi_EXT].[Pi.300_Metallurgy_Streams_MSA_PIVOT]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Pi300MetallurgyStreamsMSAPIVOTsqlserverds",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Stored procedure Set Initial Dates",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup Get MAX MIN Date Source",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETLExecution].[SetQueryDates]",
								"storedProcedureParameters": {
									"EndDate": {
										"value": {
											"value": "@activity('Lookup Get MAX MIN Date Source').output.firstRow.enddate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Instance": {
										"value": {
											"value": "@variables('Instance')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Module": {
										"value": {
											"value": "@variables('Module')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ParameterName": {
										"value": {
											"value": "@variables('ParameterName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartDate": {
										"value": {
											"value": "@activity('Lookup Get MAX MIN Date Source').output.firstRow.startdate",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "fqmldatasandatasensordatalakedbls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Lookup Firts Get EndDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ETLExecution].[GetQueryEndDate]",
						"storedProcedureParameters": {
							"Instance": {
								"type": "Int32",
								"value": {
									"value": "@variables('Instance')",
									"type": "Expression"
								}
							},
							"Module": {
								"type": "String",
								"value": {
									"value": "@variables('Module')",
									"type": "Expression"
								}
							},
							"ParameterName": {
								"type": "String",
								"value": {
									"value": "@variables('ParameterName')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetQueryExecutionDatesds",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"spchar1": {
				"type": "String",
				"defaultValue": "'"
			},
			"mainpath": {
				"type": "String",
				"defaultValue": "ingestion"
			},
			"strjsonfn": {
				"type": "String",
				"defaultValue": "{  \"Module\":\"prModule\" ,\"ParameterName\":\"prParameterName\" ,\"Instance\": \"prInstance\" ,\"mainpath\":\"prmainpath\" ,\"tablepath\":\"prtablepath\"  ,\"filename\":\"prfilename\" }"
			},
			"Module": {
				"type": "String",
				"defaultValue": "SensesDataLakeFQML"
			},
			"ParameterName": {
				"type": "String",
				"defaultValue": "Pi300MetallurgyStreamsMSAPIVOT"
			},
			"Instance": {
				"type": "String",
				"defaultValue": "1"
			},
			"strjsonvaluefn": {
				"type": "String",
				"defaultValue": "{  \"Module\":\"prModule\" ,\"ParameterName\":\"prParameterName\" ,\"Instance\": \"prInstance\" ,\"mainpath\":\"prmainpath\" ,\"tablepath\":\"prtablepath\"  ,\"filename\":\"prfilename\" }"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-09-10T02:32:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}